.link-buttons{
    width: 150px;
    height: 50px;
    background-color:white;
    
    
}

.upper-navbar{
    background-color: black;
    position:relative;
    margin:-1.5vh;

}

.name{
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2%;
    
}

.button-core{
    text-align: center;
}

.about-img{
    height: auto;
    width: auto;
}

.about-img-desc{
    font-size: 0.9vw;
}


.main-content{
    background-color: gray;
    font-size: 1vw;
}
body,
html,
main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHg1aDlic3R0NW1ibGlrMHBlYmU1MTd1Z21ucjA4YWViM2hlY2RsZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fw8uZriJW4TlhmZnUj/giphy.gif");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
