.link-buttons{
    width: 150px;
    height: 50px;
    background-color:white;
    
    
}

.upper-navbar{
    background-color: black;
    position:relative;
    margin:-1.5vh;

}

.name-index{
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1%;
    text-shadow: #FC00FF;
    text-rendering: geometricPrecision;
    animation-name: slideIn;
    animation-duration: 2s;
}

.button-core{
    justify-self: center;
}
.btn-text{
    color: palevioletred;
    text-decoration: none;
}
.btn-grad {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }


.about-img{
    height: auto;
    width: auto;
    
}

.about-img-desc{
    font-size: 0.9vw;
}


.main-content{
    background-color: gray;
    font-size: 1vw;
    text-rendering: geometricPrecision;
    animation-name: slideIn;
    animation-duration: 2s;
}
body,
html,
main {
    background-color: #00DBDE;  /*  taken from https://cssgradient.io/  */
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    animation-name: slideUp;
    animation-duration: 2s;
    
    
}
    
@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }

@keyframes slideUp {
    from { transform: translateY(30%); }
    to { transform: translateY(0); }
  }
